<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="board.dao.face.BoardDao">
  
	<select id="selectFreeAll" resultType="FreeBoard" parameterType="web.util.Paging">
	    SELECT B.*, U.user_name AS userName
	    FROM (
	        SELECT rownum rnum, F.*
	        FROM (
	            SELECT *
	            FROM free_board
	            ORDER BY free_no ASC
	            <!-- ORDER BY free_no DESC -->
	        ) F
	    ) B
	    JOIN user_info U ON B.user_no = U.user_no
	    WHERE B.rnum BETWEEN #{startNo} AND #{endNo}
	</select>
 
  <select id="freeCntAll" resultType="int">
  	SELECT count(*) FROM free_board
  </select>
    
  
	<select id="selectAnnounceAll" resultType="AnnounceBoard">
	    SELECT A.*, U.user_name AS userName
	    FROM announce_board A
	    JOIN user_info U ON A.user_no = U.user_no
	    WHERE A.announce_exist = '0'
	</select>
	  
	<select id="selectEventAll" resultType="EventBoard">
	    SELECT E.*, U.user_name AS userName
	    FROM event_board E
	    JOIN user_info U ON E.user_no = U.user_no
	    WHERE E.event_exist = '0'
	</select>
  
  	<select id="writeUserId" resultType="UserInfo" parameterType="String">
  		SELECT * FROM user_info
  		WHERE user_id = #{userId}
  	</select>
  
  	<insert id="insert" parameterType="FreeBoard" useGeneratedKeys="true" keyProperty="freeNo">
  		<selectKey keyProperty="freeNo" resultType="int" order="BEFORE">
  			SELECT freeboard_seq.nextval FROM dual
  		</selectKey>
  		INSERT INTO free_board (free_no, user_no, free_head,free_name,free_content)
  		VALUES (#{freeNo}, #{userNo}, #{freeHead}, #{freeName}, #{freeContent})
  	</insert>
  
  	<insert id="insertFile" parameterType="FreeBoardFile" >
  		INSERT INTO free_board_file (file_no, free_no, origin_name, stored_name)
  		VALUES (freeboard_file_seq.nextval, #{freeNo}, #{originName}, #{storedName})
  	</insert>
  
    <select id="selectFreeBoardNo" resultType="FreeBoard" parameterType="FreeBoard">
        SELECT F.*, U.user_name AS userName
        FROM free_board F
        JOIN user_info U ON F.user_no = U.user_no
        WHERE F.free_no = #{freeNo}
    </select>
  
  	<update id="updateHit" parameterType="FreeBoard">
  	  UPDATE free_board
  		<set>
  			free_hit = free_hit + 1
  		</set>
  		<where>
  		 free_no = #{freeNo}
  		</where>
  	</update>
  	
  	<select id="AttachFreeFile" resultType="FreeBoardFile" parameterType="FreeBoard">
  		SELECT
  			file_no, free_no, origin_name, stored_name
  		FROM free_board_file
  		<where>
  			free_no = #{freeNo}
  		</where>
  	</select>
  
  	<select id="downFreeFileNo" resultType="FreeBoardfile" parameterType="FreeBoardfile">
  		SELECT
  			file_no, free_no, origin_name, stored_name
  		FROM free_board_file 
  		<where>
  			file_no = #{fileNo}
  		</where>
  	</select>
  
  	<delete id="deleteFreeFileBoardNo" parameterType="FreeBoard">
  		DELETE free_board_file
  		<where>
  			free_no = #{freeNo}
  		</where>
  	</delete>
  	
	<delete id="deleteFreeBoardNo" parameterType="FreeBoard">
		DELETE free_board
		<where>
			free_no = #{freeNo}
		</where>
	</delete>
  	
  	<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
  
  	<update id="announceUpdateHit" parameterType="AnnounceBoard">
  	  UPDATE announce_board
  		<set>
  			announce_hit = announce_hit + 1
  		</set>
  		<where>
  		 announce_no = #{announceNo}
  		</where>
  	</update>
  	
 	<select id="selectAnnounceBoardNo" resultType="AnnounceBoard" parameterType="AnnounceBoard">
        SELECT A.*, U.user_name AS userName
        FROM announce_board A
        JOIN user_info U ON A.user_no = U.user_no
        WHERE A.announce_no = #{announceNo}
    </select>
  	
  	<select id="AttachAnnounceFile" resultType="AnnounceBoardFile" parameterType="AnnounceBoard">
  		SELECT
  			file_no, announce_no, origin_name, stored_name
  		FROM announce_board_file
  		<where>
  			announce_no = #{announceNo}
  		</where>
  	</select>
  	
  	<update id="eventUpdateHit" parameterType="EventBoard">
  	  UPDATE event_board
  		<set>
  			event_hit = event_hit + 1
  		</set>
  		<where>
  		 event_no = #{eventNo}
  		</where>
  	</update>
  
	<select id="selectEventBoardNo" resultType="EventBoard" parameterType="EventBoard">
        SELECT A.*, U.user_name AS userName
        FROM event_board A
        JOIN user_info U ON A.user_no = U.user_no
        WHERE A.event_no = #{eventNo}
    </select>
  
  	<select id="AttachEventFile" resultType="EventBoardFile" parameterType="EventBoard">
  		SELECT
  			file_no, event_no, origin_name, stored_name
  		FROM event_board_file
  		<where>
  			event_no = #{eventNo}
  		</where>
  	</select>
  
  	<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
  
    <delete id="deleteFiles" parameterType="int[]">
      DELETE free_board_file
      <where>
         file_no IN
         <foreach collection="array" item="no" open="(" close=")" separator=",">
            #{no }
         </foreach>
      </where>
   </delete>
  
  	 <update id="update" parameterType="FreeBoard">
      UPDATE free_board
      <set>
         , free_head = #{freeHead }
         , free_content = #{freeContent }
      </set>
      <where>
         free_no = #{freeNo }
      </where>
   </update>
  
  	<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
  
	<select id="questionCntAll" resultType="int" parameterType="UserInfo">
		SELECT count(*) FROM question
		WHERE user_no = #{userNo }
	</select>
  
  	<select id="selectQuestionAll" resultType="Question" parameterType="HashMap">
	    SELECT B.*, U.user_name AS userName
	    FROM (
	        SELECT rownum rnum, F.*
	        FROM (
	            SELECT *
	            FROM question
	            WHERE question_exist = '0'
	            AND user_no = #{userInfo.userNo }
	            ORDER BY question_no DESC
	        ) F
	    ) B
	    JOIN user_info U ON B.user_no = U.user_no
	    WHERE B.rnum BETWEEN #{pagingQuestion.startNo} AND #{pagingQuestion.endNo}
	</select>
  
  	<insert id="questionInsert" parameterType="Question" useGeneratedKeys="true" keyProperty="questionNo">
  		<selectKey keyProperty="questionNo" resultType="int" order="BEFORE">
  			SELECT question_seq.nextval FROM dual
  		</selectKey>
  		INSERT INTO question (question_no, user_no, question_category, question_name, question_content)
  		VALUES (#{questionNo}, #{userNo}, #{questionCategory}, #{questionName}, #{questionContent})
  	</insert>
  
  	<insert id="insertFileQuestion" parameterType="QuestionFile" >
  		INSERT INTO question_file (file_no, question_no, origin_name, stored_name)
  		VALUES (question_file_seq.nextval, #{questionNo}, #{originName}, #{storedName})
  	</insert>
  
    <select id="selectQuestionNo" resultType="Question" parameterType="Question">
        SELECT F.*, U.user_name AS userName
        FROM question F
        JOIN user_info U ON F.user_no = U.user_no
        WHERE F.question_no = #{questionNo}
    </select>
  
  	<select id="AttachQuestionFile" resultType="QuestionFile" parameterType="QuestionFile">
  		SELECT
  			file_no, question_no, origin_name, stored_name
  		FROM question_file
  		<where>
  			question_no = #{questionNo}
  		</where>
  	</select>
  
  	<insert id="freeCommentInsert" parameterType="FreeComment" useGeneratedKeys="true" keyProperty="freeCommentNo">
  		<selectKey keyProperty="freeCommentNo" resultType="int" order="BEFORE">
  			SELECT free_comment_seq.nextval FROM dual
  		</selectKey>
  		INSERT INTO free_comment (free_comment_no, free_no, free_comment_content,user_no)
  		VALUES (#{freeCommentNo}, #{freeNo}, #{freeCommentContent},#{userNo})
  	</insert>
  
  	<select id="freeCommentList" resultType="FreeComment" parameterType="FreeComment">
<!-- 		SELECT * 
		FROM free_comment FC
 		JOIN free_board F ON FC.free_no = F.free_no
		JOIN user_info U ON F.user_no = U.user_no
		WHERE FC.free_no = #{freeNo} -->
		select FC.*, U.user_name from free_comment FC
		JOIN free_board F ON FC.free_no = F.free_no
		JOIN user_info U ON F.user_no = U.user_no
		WHERE FC.free_no = #{freeNo}
    </select>
    
    <select id="selectByuserId" parameterType="UserInfo" resultType="UserInfo">
    SELECT * FROM user_info
    WHERE user_id = #{userId}
    </select>
    
    <select id="selectByFreeNo" parameterType="FreeComment" resultType="FreeComment">
    SELECT * FROM free_comment
    WHERE free_comment_no = #{freeCommentNo}
    </select>
  
 </mapper>