<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="user.dao.face.UserDao">
 
 
  <select id="selectUser" resultType="UserInfo" parameterType="UserInfo">
	SELECT * FROM user_info
  	<where> 
  		AND USER_ID = #{userId}
		AND USER_PW = #{userPw}	
  	</where>
  </select>

  <select id="getTeachNo" resultType="Teacher" parameterType="Teacher" > <!-- //강사 번호 -->
  		SELECT * FROM teacher <!-- //강사 번호 -->
  	<where>  <!-- //강사 번호 -->
  		AND user_no = #{userNo} <!-- //강사 번호 -->
  	</where> <!-- //강사 번호 -->
  </select> <!-- //강사 번호 -->
  
      <!-- 아이디 중복 확인 -->
    <select id="checkDuplicateId" resultType="int" parameterType="String">
        SELECT COUNT(*) FROM user_info WHERE USER_ID = #{userId}
    </select>
    
    <select id="selectUserByNo" resultType="UserInfo" parameterType="UserInfo">
	SELECT * FROM user_info
  	<where> 
  		AND USER_NO = #{userNo}
  	</where>
  </select>

	
<!-- 	<delete id="deleteUserData" parameterType="user.dto.UserInfo"> -->
<!-- 	DELETE FROM user_info -->
<!-- 		<where> -->
<!-- 			AND USER_NO = #{userNo} -->
<!-- 		</where> -->
<!-- 	</delete> -->

	<update id="updateUserDataout" parameterType="user.dto.UserInfo">
		UPDATE user_info
		SET
			user_secession = 1
		<where>
			user_no = #{userNo}
		</where>
	</update>
	
    <insert id="insertUser" parameterType="user.dto.UserInfo">
        INSERT INTO user_info
        VALUES (user_info_seq.nextval , #{userId}, #{userPw}, #{userGender}, #{userBirthday}, #{userPhone}, #{userName }, #{userEmail}, #{mainAddress}, #{subAddress}, #{userPost}, #{userSecession}, sysdate)
    </insert>

    <select id="countById" parameterType="string" resultType="int">
        SELECT COUNT(*) FROM user_info WHERE USER_ID = #{userId}
    </select>
    
    
        <!-- 이메일과 이름으로 아이디 찾기 -->
    <select id="findIdByEmailAndName" resultType="UserInfo" parameterType="map">
        SELECT * FROM user_info WHERE user_email = #{userEmail} AND user_name = #{userName}
    </select>
	

 </mapper>