<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="payment.dao.face.PaymentDao">

	<select id="selectUser" resultType="UserInfo" parameterType="int">
		SELECT user_no, user_id, user_pw, user_gender, user_birthday, user_phone, user_name
			, user_email, main_address, sub_address, user_post, user_secession, user_date_created 
		FROM user_info
		WHERE user_no = ${userNo} 
	</select>

	<select id="getBasketUserNo" resultType="Basket" parameterType="int">
		SELECT basket_no, user_no, class_no
		FROM basket
		WHERE user_no = ${userNo}
	</select>	

	<select id="selectClassListByUser" resultType="Class" parameterType="Basket">
		SELECT class_no, teacher, class_name, class_start, class_end, max_count, expense, on_off
		FROM class
		WHERE class_no = #{classNo}
	</select>
</mapper>