<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="main.dao.face.MainDao">
	 <select id="listAll" resultType="UserInfo">
	 	SELECT * FROM user_info
	 </select>
	 
	 <select id="mainCategoryList" resultType="MainCategory">
	 	SELECT * FROM main_category
	 </select>
	 
	 <select id="subCategoryList" resultType="SubCategory" parameterType="SubCategory">
	 	SELECT * FROM sub_category
	 	<where>
	 		AND main_category_no = #{mainCategoryNo}
	 	</where>
	 </select>
	 
	 <select id="mainOnClassCntAll" resultType="int" parameterType="Class">
		SELECT count(*) FROM class
		WHERE delete_boolean = 0
		   	  AND on_off = 1
		   	  AND sub_category_no = ${subCategoryNo}
	 </select>
	 
	 <select id="onClassList" resultType="Class" parameterType="Map">
	 	SELECT * FROM (
	 		SELECT rownum runm, B.* FROM (
	 			SELECT * FROM class
	 				WHERE delete_boolean = 0
	 				
	 				AND on_off = 1
	 				AND sub_category_no = ${cLass.subCategoryNo}
	 				ORDER BY class_no DESC
	 		) B
	 	) WHERE runm BETWEEN #{paging1.startNo} AND #{paging1.endNo}
	 </select>	 
	 
	 <select id="mainOffClassCntAll" resultType="int" parameterType="Class">
		SELECT count(*) FROM class
		WHERE delete_boolean = 0
		   	  AND on_off = 0
		   	  AND sub_category_no = ${subCategoryNo}
	 </select>

	 <select id="offClassList" resultType="Class" parameterType="Map">
	 	SELECT * FROM (
	 		SELECT rownum runm, B.* FROM (
	 			SELECT * FROM class
	 				WHERE delete_boolean = 0
	 				AND on_off = 0
	 				AND sub_category_no = ${cLass.subCategoryNo}
	 				ORDER BY class_no DESC
	 		) B
	 	) WHERE runm BETWEEN #{paging1.startNo} AND #{paging1.endNo}
	 </select>
	 
	 <select id="onClassSortList" resultType="Class" parameterType="Map">
	 	SELECT * FROM (
	 		SELECT rownum runm, B.* FROM (
	 			SELECT c.class_no, teacher_no, main_category_no, sub_category_no, teacher, class_name, class_date, class_start, class_end, max_count, expense,
class_info, curriculum, on_off, head_img, content, delete_boolean, order_no, user_no, o.merchant_uid
				FROM class c
				FULL OUTER JOIN order_tb o ON c.class_no = o.class_no
	 				WHERE c.delete_boolean = 0
	 				AND c.on_off = 1
	 				AND c.sub_category_no = ${cLass.subCategoryNo}
	 				ORDER BY ${sort}
	 		) B
	 	) WHERE runm BETWEEN #{paging1.startNo} AND #{paging1.endNo}
	 </select>	 
	 
	 <select id="offClassSortList" resultType="Class" parameterType="Map">
	 	SELECT * FROM (
	 		SELECT rownum runm, B.* FROM (
	 			SELECT c.class_no, teacher_no, main_category_no, sub_category_no, teacher, class_name, class_date, class_start, class_end, max_count, expense,
class_info, curriculum, on_off, head_img, content, delete_boolean, order_no, user_no, o.merchant_uid
				FROM class c
				FULL OUTER JOIN order_tb o ON c.class_no = o.class_no
	 				WHERE c.delete_boolean = 0
	 				AND c.on_off = 0
	 				AND c.sub_category_no = ${cLass.subCategoryNo}
	 				ORDER BY ${sort}
	 		) B
	 	) WHERE runm BETWEEN #{paging1.startNo} AND #{paging1.endNo}
	 </select>
	 
	 <select id="onClassViewList" resultType="Class" parameterType="Class">
	 	SELECT * FROM Class
	 	WHERE class_no = #{classNo}
	 </select>
	  
	  
	  
	  
 </mapper>